# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
db.sqlite3

# Virtual environments
env/
venv/
ENV/
.env
.venv

# VS Code
.vscode/

# Migrations (optional)
*/migrations/__pycache__/
*/migrations/*.pyc

# Static files (optional)
staticfiles/

# Media files (optional)
media/
